div.cart-box-container {
    display: flex;
    justify-content: flex-end;
}

div.cart-box-container > h3 {
    position: relative;
    right: 4em;
}

div.cart-details {
    display: inherit;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 20%;
    height: 9em;
    background-color: #fff;
    float: right;
    position: relative;
    top: 2em;
    right: 8em;
    box-shadow: 1px 4px 18px #888888;
}